<h3>멍냥 진료 및 치료 기록을 입력해주세요.</h3>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">add</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">번호</label>
        </div>  
        <div class="input-field col s6">
          <i class="material-icons prefix">pets</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">진료내용</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">today</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">날짜</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">local_hospital</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">동물병원</label>
        </div>  
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">비고</label>
         </div>
        </div>
      </div>
    </form>
  </div>