<h3 class="center-align">멍냥스타일</h3>
<hr>
<h4 class="right-align"><%= link_to "등록/관리하기", posts_path %></h4>
<br>


<% Post.take(10).each do |p| %>
    <div class="style-post">
        <img class='style-image' src="<%= p.img %>">
    </div>
<% end %>



