<div class="row">
  <div class="col s10 offset-s1">
    <div class="center" style="background-color: rgba( 255, 231, 234, 0.3 ); padding: 1em; margin-top: 3em;">
      <h2>멍냥 스타일</h2>
      <%= link_to "내 사진 등록/관리하기", posts_path, class: "btn-large pink waves-effect waves-light" %>
    </div>
    
    <div class="row" style="margin-top: 2em;">
      <div class="col s12">
        <div class="row">
          <% Post.all.each do |item| %>
            <div class="col s4 l3">
              <div class="gallery_img card hoverable">
                <div class="card-image">
                  <img src="<%= item.img %>">
                  <span class="card-title"><%= item.title %></span>
                </div>
                <div class="card-content">
                  <p><%= item.content %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>