/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "materialize/components/color";

//*** Colors ***//
$primary-color: #ee6e73 !default;  //rgb(238, 110, 115)//
$secondary-color: #f6a2ad !default; //rgb(246, 162, 173)//
$success-color: #ee6e73 !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;
$accent-color: color("pink", "accent-r")!default;

/*** Forms ***/
// Text Inputs + Textarea

$input-border-color: color("grey", "darken-1") !default;
$input-bg-color: #fff !default;
$input-error-color: $error-color !default;
$input-success-color: $success-color !default;
$input-focus-color: $secondary-color !default;
$label-font-size: 1rem !default;
$input-disabled-color: rgba(0,0,0, .26) !default;
$input-disabled-solid-color: #BDBDBD !default;

// Radio Buttons
$radio-fill-color: $secondary-color !default;
$radio-empty-color: #5a5a5a !default;

@import "materialize";


body { 
  font-family:'나눔고딕'; 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
} 



.index_menu i {
  font-size: 10rem;
}

.index_menu a {  
  color: #000;
  -webkit-transition: background 0.4s linear;
  -moz-transition: background 0.4s linear;
  -ms-transition: background 0.4s linear;
  -o-transition: background 0.4s linear;
  transition: background 0.4s linear;
}
.index_menu a:hover {
 background-color: rgba(238, 110, 115, 0.3);
}

.devise_block {
  padding: 2em;
  border-radius: 1em;
  background-color: rgba(246, 162, 173, 0.2);
}

.arrow-down {
  margin: auto;
	width: 0; 
	height: 0; 
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid $secondary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: $primary-color;
   
}

