/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.index_menu i {
  font-size: 10rem;
}

.index_menu a {  
  color:#000;
  -webkit-transition: background 0.4s linear;
  -moz-transition: background 0.4s linear;
  -ms-transition: background 0.4s linear;
  -o-transition: background 0.4s linear;
  transition: background 0.4s linear;
}
.index_menu a:hover {
  background-color: #d1d1d1;
}

.devise_block {
  background-color: rgba(76, 175, 102, 0.29);
  padding: 2em;
  border-radius: 1em;
  margin: 2em;
}

.arrow-down {
  margin: auto;
	width: 0; 
	height: 0; 
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	
	border-top: 30px solid rgb(244, 196, 202);
}

.profile_content {
  margin-bottom: 0.7em;
  font-weight: 600;
}

.profile_content span{
  color: #6B6B6B;
}

.gallery_img{
  width: 100%;
}

.like_btn {
  cursor: pointer;
}

.unlike_btn {
  cursor: pointer;
}

.like_p {
  margin-bottom: 1em !important;
}