// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.style-image {
    width: 100%;
}

.style-post {
    width: 200px;
    display: inline-block;
}