
<%= form_tag "/profile/create_pet", multipart: true %>
<input type="hidden" name="prev_uri" value="<%= @prev_uri %>">
<div class="container">
  <h2>멍냥이 프로필을 작성해 주세요.</h2> 
  
 
  <div class="devise_block">
    <div class="field center-align">
      <input type="file" id="profile_picture" name="img" onchange="previewFile()"><br>
      <img src="http://cliparts.co/cliparts/6cy/Xjg/6cyXjgM9i.svg" height="200" alt="" >
    </div>
    
    <div class="field center-align">
      <label for="profile_picture">프로필 사진 업로드</label>
      <p class="help-block center-align">멍냥이 프로필 사진을 업로드해주세요~^^</p>
    </div>

    <div class="field">
      <label for="exampleInputName">이름</label>
      <input type="text" class="form-control" id="exampleInputName" name="name" placeholder="ex. 딩딩이">
    </div>

    <div class="field">
      <label for="exampleInputGender">성별</label><br>    
      <input name="gender" type="radio" id="type1" value="여" />
      <label for="type1">여</label>
      <input name="gender" type="radio" id="type2" value="남" />
      <label for="type2">남</label>
      <input name="gender" type="radio" id="type3" value="중성화(여)" />
      <label for="type3">중성화(여)</label>
      <input name="gender" type="radio" id="type4" value="중성화(남)" />
      <label for="type4">중성화(남)</label>
    </div>
  
    <div class="field">
      <label for="exampleInputage">생일</label>
      <input type="date" class="datepicker" id="exampleInputbirth" name="birth">
    </div>
  
    <div class="field">
      <label for="introduction">멍냥소개</label>
      <textarea class="form-control" style="background-color: white;" name="about" rows="15"></textarea>
    </div>
 
    <button type="submit" class="btn btn-default">저장</button>
  </div>
  
</form>

<script>
$(document).ready(function(){
  function previewFile() {
    var preview = document.querySelector('img');
    var file    = document.querySelector('input[type=file]').files[0];
    var reader  = new FileReader();
  
    reader.onloadend = function () {
      preview.src = reader.result;
    }
  
    if (file) {
      reader.readAsDataURL(file);
    } else {
      preview.src = "";
    }
  }
  
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
    });
});
</script>
