<form action="/profile/update">
<input type="hidden" name="id" value="<%=@pet.id%>">

<div class="container">
<h2>나의 멍냥정보 수정하기</h2> 
  
 
  <div class="devise_block">
    <div class="field">
    <label for="profile_picture">프로필 사진 업로드</label>
    <input type="file" id="profile_picture" name="img">
    <p class="help-block">멍냥이 프로필 사진을 업로드해주세요~^^</p>
  </div>

   <div class="field">
    <label for="exampleInputName">이름</label>
    <input type="text" class="form-control" id="exampleInputName" name="name" placeholder="ex. 딩딩이" value="<%=@pet.name%>">
  </div>

  <div class="field">
    <label for="exampleInputGender">성별</label><br>    
    <input name="gender" type="radio" id="type1" />
    <label for="type1">여</label>
    <input name="gender" type="radio" id="type2" />
    <label for="type2">남</label>
    <input name="gender" type="radio" id="type3" />
    <label for="type3">중성화(여)</label>
    <input name="gender" type="radio" id="type4" />
    <label for="type4">중성화(남)</label>
  </div>
  
  <div class="field">
    <label for="exampleInputage">생일</label>
    <%=Time.parse(@pet.birth).strftime("%Y, %M, %d")%>
    <input type="date" class="datepicker" id="exampleInputbirth" name="birth">
  </div>
  
  <div class="field">
    <label for="introduction">멍냥소개</label>
    <textarea class="form-control" name="about" rows="5" ><%=@pet.about%></textarea>
  </div>
  
  <button type="submit" class="btn btn-default">저장</button>
    
    
    <input type="submit">
    
  </div>  
</div>
</form>

<script>
  $('.datepicker').pickadate({
  selectMonths: true, // Creates a dropdown to control month
  selectYears: 15 // Creates a dropdown of 15 years to control year
  });
</script>