<form >
   <img src="..." alt="..." class="img-circle">
   
   <div class="form-group">
    <label for="profile_picture">프로필 사진 업로드</label>
    <input type="file" id="profile_picture">
    <p class="help-block">멍냥이 프로필 사진을 업로드해주세요~^^</p>
  </div>
  
  <div class="form-group">
    <label for="exampleInputName">이름</label>
    <input type="text" class="form-control" id="exampleInputName" placeholder="ex. 딩딩이">
  </div>
  
  <div class="form-group">
    <label for="exampleInputage">나이</label>
    <input type="text" class="form-control" id="exampleInputage" placeholder="ex. 3살, 6개월">
  </div>
  
  <div class="form-group">
    <label for="introduction">멍냥소개</label>
    <textarea class="form-control" rows="5"></textarea>
  </div>
 

<button type="submit" class="btn btn-default">저장</button>
    

</form>